<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <a routerlink="/home" mat-falt-button color="primary">HOME</a>
    <a routerlink="/contact-us" mat-flat-button color="primary">CONTACT US</a>
    <a routerlink="/about-us" mat-flat-button color="primary">ABOUT US</a>
    <a routerlink="" mat-flat-button color="primary">OUR SERVICES</a>
    <a routerlink="" mat-flat-button color="primary">EXAMINATION</a>
    <a routerlink="" mat-flat-button color="primary">FEES</a>
    <a routerlink="" mat-flat-button color="primary">SUGGESTION</a> -->

    <div class="div container">
        <a href="/home" mat-flat-button color="primary">HOME</a>
        <a href="/contact-us" mat-flat-button color="primary">CONTACT US</a>
        <a href="/about-us" mat-flat-button color="primary">ABOUT US</a>
        <a href="/services" mat-flat-button color="primary">OUR SERVICES</a>
        <a href="/exams" mat-flat-button color="primary">EXAMINATION</a>
        <a href="/fees" mat-flat-button color="primary">FEES</a>
        <a href="/suggestions" mat-flat-button color="primary">SUGGESTION</a>

        <a href="/login" mat-flat-button color="primary">LOGIN</a>
        <a href="/signup" mat-flat-button color="primary">SIGNUP</a>
        <a href="/logout" mat-flat-button color="primary">LOGOUT</a>
    </div>
</mat-toolbar>